.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color:#FEEAE9;
    border-radius:15px;
}
.carousel-item {
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
/* 2nd part start */
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color:orange ;
}
.cat2{
    background-color:orchid;
}
.cat3{
    background-color:blue;
}

.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px !important;
    
}
.card h5.center{
    text-align: center;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: white !important;
    border-top: none !important;
}

#subscribe{
    height: 300px;
}
#subscribe h6 {
    color: gray;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
footer{
    text-align: center;
}